 

<ion-view view-title="Crear">
   <ion-content>
        <ion-list>
             <div  class="list">
                          <label class="item item-input item-floating-label">
                            <span class="input-label">Nombres</span>
                            <input type="text" ng-model="alumnos.nombres" placeholder="Nombres">
                          </label>
                          <label class="item item-input item-floating-label">
                            <span class="input-label">Apellidos</span>
                            <input type="text" ng-model="alumnos.apellidos" placeholder="Apellidos">
                          </label>
                          <label class="item item-input item-floating-label">
                            <span class="input-label">Sexo</span>
                            <input type="text" ng-model="alumnos.sexo" placeholder="Sexo">
                          </label>
                          <label class="item item-input item-floating-label">
                            <span class="input-label">Fecha_nacimiento</span>
                            <input type="text" ng-model="alumnos.fecha_nac" placeholder="Fecha_nacimiento  DD/MM/AAAA">
                          </label>
                          <label class="item item-input item-floating-label">
                            <span class="input-label">Paz y salvo?</span>
                            <ion-radio ng-model="alumnos.pazysalvo" ng-value="'1'">Si</ion-radio>
                            <ion-radio ng-model="alumnos.pazysalvo" ng-value="'0'">No</ion-radio>
                          </label>
                          <button ng-click="CrearAlumno(alumnos.nombres, alumnos.apellidos, alumnos.sexo, alumnos.fecha_nac, alumnos.pazysalvo)" class="button button-block button-positive">
                                    Guardar
                                  </button>
                    </div>        
          <ion-list>
    </ion-content>
</ion-view>             